{% extends "layouts.snac_layout" %}

{% block custom_js %}
{# this block is included in the page header. For example: 
<script src="{{control.snacURL}}/javascript/html2canvas.js{{control.noCache}}"></script>#}
{% endblock %}
{% block content %}
  {% if session('status') %}
    <div class="alert alert-success">
        {{ session('status') }}
    </div>
  {% endif %}
    <h1>Vocabulary: {{ data.title }}</h1>

    <ol class="breadcrumb">
        <li><a href="{{control.snacURL}}/vocab_administrator/dashboard">Vocabulary</a></li>
        <li>{{data.title}}</li>
        <!-- <li>{{data.response.concepts[0].term}}</li> -->
    </ol>

        {% if permissions.EditResources %}
        <div class="text-center">
            <a href="{{control.snacURL}}/vocab_administrator/add_concept" class="btn btn-success">
                <i class="fa fa-fw fa-plus"></i> Add New Concept
            </a>
        </div>
        {% endif %}
    <table id="concept-table" class="table">
        <thead>
            <tr>
                <th>Concept</th>
            </tr>
        </thead>
        <tbody>
        {% for concept in concepts %}
          <tr><td><a href="{{ url('concepts',concept.id) }}">{{ concept.terms.first.text }}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
